<div id="compra-exitosa" class="checkout">
    <div class="row title">
        <h1>&iexclCOMPRA EXITOSA!</h1>
    </div>
    <div class="row">
        <h3>Datos del Cliente</h3>
        <table class="table table-bordered table-striped cliente">
            <tr>
                <th>Cliente</th>
                <th>E-Mail</th>
                <th>Tel&eacute;fono</th>
                <th>Despacho</th>
            </tr>
            <tr>
                <td>{{ cliente.nombre }} {{ cliente.apellido }}</td>
                <td>{{ cliente.correo }}</td>
                <td>{{ cliente.fono }}</td>
                <td>No</td>
            </tr>
        </table>
    </div><!-- /.row -->
    <div id="detalle-compra-productos" class="row">
        <h3>Detalles de la Compra</h3>
        <table class="table table-bordered table-striped">
            <tr>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Sub-Total</th>
            </tr>
            {% for producto in productos %}
            <tr>
                <td class="name">{{ (producto.getData()).nombre }}</td>
                <td class="items">{{ (producto.getTotalItems()) }}</td>
                <td><span class="subtotal-producto">$ {{ ((producto.getPrice())*(producto.getTotalItems()))|number_format(0,',','.') }}</span>{% if producto.hasDiscount() %} <span class="descuento-subtotal">({{ producto.getDiscount() }} DCTO)</span>{% endif %}</td>
            </tr>
            {% endfor %}
            {% if descuentos is not empty or giftcards is not empty %}
            <tr><td colspan="3">DESCUENTOS</td></tr>
            {% for descuento in descuentos %}
            <tr>
                <td colspan="2">CUP&Oacute;N: {{ descuento.titulo|upper }}</td>
                <td><span class="subtotal-producto">-$ {{ descuento.descuento|number_format(0,',','.') }}</span></td>
            </tr>
            {% endfor %}
            {% for codigo,monto in giftcards %}
            <tr>
                <td colspan="2">Giftcard: {{ codigo }}</td>
                <td><span class="subtotal-producto">-$ {{ monto|number_format(0,',','.') }}</span></td>
            </tr>
            {% endfor %}
            {% endif %}
            <tr>
                <td colspan="2"><p class="lead">TOTAL<p></td>
                <td><span class="total">${{ total|number_format(0,',','.') }}</span></td>
            </tr>
        </table>
    </div>
    <div id="detalle-compra-pago" class="row">
        <h3>Detalles de la Orden</h3>
        <table class="table table-bordered table-striped">
            <tr>
                <th>N&uacute;mero de Orden</th>
                <td>{{ numero }}</td>
            </tr>
            <tr>
                <th>Documento de Compra</th>
                <td>{% if esFactura %}Factura{% else %}Boleta{% endif %}</td>
            </tr>
            {% if TBK_RESPUESTA is empty %}
            <tr>
                <th>Estado</th>
                <td>Pendiente de Pago</td>
            </tr>
            {% else %}
            <tr>
                <th>Respuesta Transbank</th>
                <td>{{ TBK_RESPUESTA }}</td>
            </tr>
            <tr>
                <th>C&oacute;digo de Autorizaci&oacute;n</th>
                <td>{{ TBK_CODIGO_AUTORIZACION }}</td>
            </tr>
            <tr>
                <th>Fecha Contable</th>
                <td>{{ TBK_FECHA_CONTABLE|slice(2,2) }}/{{ TBK_FECHA_CONTABLE|slice(0,2) }}</td>
            </tr>
            <tr>
                <th>Fecha Transacci&oacute;n</th>
                <td>{{ TBK_FECHA_TRANSACCION|slice(2,2) }}/{{ TBK_FECHA_TRANSACCION|slice(0,2) }}</td>
            </tr>
            <tr>
                <th>Hora Transacci&oacute;n</th>
                <td>{{ TBK_HORA_TRANSACCION|slice(0,2) }}:{{ TBK_HORA_TRANSACCION|slice(2,2) }}:{{ TBK_HORA_TRANSACCION|slice(4,2) }}</td>
            </tr>
            <tr>
                <th>tarjeta de cr&eacute;dito</th>
                <td>XXXX XXXX XXXX {{ TBK_FINAL_NUMERO_TARJETA }}</td>
            </tr>
            <tr>
                <th>Tipo Transacci&oacute;n</th>
                <td>{{ TBK_TIPO_TRANSACCION|slice(3) }}</td>
            </tr>
            <tr>
                <th>Tipo Pago</th>
                <td>{{ TBK_TIPO_PAGO }}</td>
            </tr>
            <tr>
                <th>Numero cuotas</th>
                <td>{{ TBK_NUMERO_CUOTAS }}</td>
            </tr>
            {% endif %}
        </table>
    </div>
    <div class="row">
        <div class="col-md-12"><a href="{{ url }}" class="btn btn-success pull-right">Volver al Home</a></div>
    </div>
</div>
