<div id="home-form" class="row">
    <div class="col-md-12">
        <form method="POST">
            <div class="toolbox">
                <div class="toolbox-title">
                    <strong class="lead">HOME</strong>
                </div>
                <div class="toolbox-actions">
                    <a href="{{ back }}" class="btn btn-danger">Volver</a>
                    <button type="submit" name="grabar" class="btn btn-success">Grabar</button>
                </div>
            </div>
            <textarea class="ckeditor" name="home">
                {{ homeLayout }}
            </textarea>
        </form>
    </div>
</div>
