<div id="lista" class="container">
    <div class="row title">
        <h3>{{ title|raw }}</h3>
    </div><!-- /.row.title -->
    <form method="POST">
        <div class="toolbox">
                <div class="actions">
                    <button class="btn btn-success" name="action" value="new">Nuevo</button>
                    <button class="btn btn-danger" name="action" value="del">Eliminar</button>
                </div>
                <div class="filter">
                    Ordenar por 
                    <select name="orden">
                        <option>--Seleccione--</option>
                        <option value="nombre">Nombre</option>
                        <option value="orden">Orden</option>
                    </select>
                </div>
        </div>
        <table class="table table-striped table-bordered">
            <tr>
                <th></th>
                {% for name,col in cols %}
                <th>{{ (fields[col]).label | raw }}</th>
                {% endfor %}
                <th></th>
            </tr>
            {% for row in data %}
            <tr>
                <td class="text-center"><input type="checkbox" id="id-{{ row.id }}" name="id" value="{{ row.id }}"><label for="id-{{ row.id }}"><span></span></label></th>
                {% for name,col in cols %}
                <td>
                    {% set type = (fields[col]).type %}
                {% if type=='money' %}
                    ${{ row[col] | number_format(0,',','.') }}
                {% elseif type=='thumb'  %}
                    <div class="thumb-container">
                        <img src="{{row[col]}}" alt="Thumb">
                    </div>
                {% else %}
                    {{ row[col] | raw }}
                {% endif %}
                </td>
                {% endfor %}
                <td><button type="submit" name="action" value="edit" onclick="$('#id-{{ row.id }}').attr('checked', true);" class="btn btn-default">Editar</button></td>
            </tr>
            {% endfor %}
        </table>
    </form>
</div>
